<?xml version="1.0"?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # data interface preferences -->
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchInterface" type="Netresearch\ShippingDispatch\Model\Dispatch"/>
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchDocumentInterface" type="Netresearch\ShippingDispatch\Model\DispatchDocument"/>
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchResponse\CancellationErrorResponseInterface" type="Netresearch\ShippingDispatch\Model\Webservice\DispatchResponse\CancellationErrorResponse"/>
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchResponse\CancellationSuccessResponseInterface" type="Netresearch\ShippingDispatch\Model\Webservice\DispatchResponse\CancellationSuccessResponse"/>
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchResponse\DispatchErrorResponseInterface" type="Netresearch\ShippingDispatch\Model\Webservice\DispatchResponse\DispatchErrorResponse"/>
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchResponse\DispatchSuccessResponseInterface" type="Netresearch\ShippingDispatch\Model\Webservice\DispatchResponse\DispatchSuccessResponse"/>
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchResponse\DocumentInterface" type="Netresearch\ShippingDispatch\Model\Webservice\DispatchResponse\Document"/>
    <preference for="Netresearch\ShippingDispatch\Api\Data\DispatchResponse\PackageErrorInterface" type="Netresearch\ShippingDispatch\Model\Webservice\DispatchResponse\PackageError"/>

    <!-- # virtual types -->
    <virtualType name="Netresearch\ShippingDispatch\Model\ResourceModel\Dispatch\Grid\Collection\Virtual" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">nrshipping_dispatch</argument>
            <argument name="resourceModel" xsi:type="string">Netresearch\ShippingDispatch\Model\ResourceModel\Dispatch</argument>
        </arguments>
    </virtualType>
    <virtualType name="Netresearch\ShippingDispatch\SalesTableNameIterator\Virtual" type="Magento\Framework\ForeignKey\Migration\TableNameArrayIterator">
        <arguments>
            <argument name="tableNames" xsi:type="array">
                <item name="nrshipping_dispatch" xsi:type="string">nrshipping_dispatch</item>
                <item name="nrshipping_dispatch_document" xsi:type="string">nrshipping_dispatch_document</item>
                <item name="nrshipping_dispatch_package" xsi:type="string">nrshipping_dispatch_package</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- # argument di overrides -->
    <type name="Netresearch\ShippingDispatch\Model\ResourceModel\Dispatch">
        <arguments>
            <argument name="connectionName" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Netresearch\ShippingDispatch\Model\ResourceModel\DispatchDocument">
        <arguments>
            <argument name="connectionName" xsi:type="const">Netresearch\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="nrshipping_dispatch_listing_data_source" xsi:type="string">Netresearch\ShippingDispatch\Model\ResourceModel\Dispatch\Grid\Collection\Virtual</item>
                <item name="assigned_packages_listing_data_source" xsi:type="string">Netresearch\ShippingDispatch\Model\ResourceModel\Package\Grid\Assigned\Collection</item>
                <item name="unassigned_packages_listing_data_source" xsi:type="string">Netresearch\ShippingDispatch\Model\ResourceModel\Package\Grid\Unassigned\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="environment" xsi:type="array">
                <item name="shipping/batch_processing/dispatch/assign_packages" xsi:type="string">1</item>
                <item name="shipping/batch_processing/dispatch/enable_manifestation" xsi:type="string">1</item>
                <item name="shipping/batch_processing/dispatch/manifestation_schedule" xsi:type="string">1</item>
                <item name="crontab/default/jobs/nrshipping_dispatch_manifest/schedule/cron_expr" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ScalableOms\Console\Command\SplitSales">
        <arguments>
            <argument name="tableIterators" xsi:type="array">
                <item name="nrshippingDispatchesSalesTableNameIterator" xsi:type="object">Netresearch\ShippingDispatch\SalesTableNameIterator\Virtual</item>
            </argument>
        </arguments>
    </type>
</config>
