<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping">
            <group id="batch_processing">
                <include path="Netresearch_ShippingDispatch::system/200_dispatch_automation.xml"/>
            </group>
        </section>
    </system>
</config>





